<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="http://static.qingtaoke.com/css/init.css?v=20190823010">
    <link rel="stylesheet"
          href="http://static.qingtaoke.com/css/flex.css?v=20190823010">
    <link rel="stylesheet"
          href="http://static.qingtaoke.com/css/common.css?v=20190823010">
    <title>商品库-轻淘客qingtaoke.com</title>
    <link rel="stylesheet" type="text/css"
          href="./css/goTop.css" media="all">
    <link rel="stylesheet" href="./css/head.css" type="text/css">
    <meta name="keywords" content="轻淘客实时销量榜，销量top100，淘客优质商品，淘客联盟，淘客插件">
    <meta name="description" content="轻淘客销量好，top100榜单，实时更新，实时爆款榜、实时销量榜、全天销量榜，轻淘客用大数据和最新的商品算法为您提供超高转化的商品">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="iXQJG-U_U5u_N131BRAbL2QU-ymt0d7EFERLYEBpUYDNRW1ItnUS8upbOLt3WE1mJnaNBMWcl7ZDNB81MDYL5w==">

    <link href="http://static.qingtaoke.com/css/goods-new.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/goods.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/goods-all.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/layout.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/normalize.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/flex.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/common.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/header_main.css?t=20190823010" rel="stylesheet">
    <link href="http://www.qingtaoke.com/versions/version2016_11/css/reset.css?t=20190823010" rel="stylesheet">
    <link href="http://static.qingtaoke.com/css/new_home_header.css?t=20190823010" rel="stylesheet">    <script>
    var __old_www__ = "http://www.qingtaoke.com/",
        __new_www__ = "http://www.qingtaoke.com";
    /*兼容老版开始*/
    var isCatReload = false;//是否分类归零
    var isCatReloadTitle = true;//输入标题分类归零
    var isReloadSort = true;//排序归零
</script>
    <script src="http://static.qingtaoke.com/js/jquery.min.js?v=20190823010"></script>
    <script src="http://static.qingtaoke.com/js/web-storage-cache.min.js?v=20190823010"></script>
    <script src="http://static.qingtaoke.com/js/imgLazy.js?v=20190823010"></script>
    <script src="http://static.qingtaoke.com/js/common.js?v=20190823010"></script>
    <script src="http://static.qingtaoke.com/js/clipboard.min.js?t=20190823010"></script>
    <script src="http://static.qingtaoke.com/js/layer/layer.js?t=20190823010"></script>
    <script src="http://static.qingtaoke.com/js/qtk_mta.js?t=20190823010"></script>
</head>
<body>

<style>

</style>
<div class="wrap new-version">
    <style>
        .qing-footer-box > p {
            background-color: #34383b;
        }
    </style>
    <script>
        var __old_www__ = 'http://www.qingtaoke.com',
            __new_www__ = 'http://www.qingtaoke.com';
    </script>
    <header class="ihead">
        <div class="ibar">
            <div class="iwrap">
                <nav>
                    <a href="javascrip:;" class="no_color">
                        轻淘客欢迎你！
                    </a>
                </nav>
                <nav>
                    <dl>
                        <dt class="right_dt"><a href="javascript:;"
                                                target="_blank">13556559840</a>
                        </dt>
                        <dd><a href="/?r=login/changePwd" target="_blank">密码安全</a></dd>
                        <dd>
                            <a href="/?r=login/logout&ref=http://www.qingtaoke.com./es_good/search?st=syj"
                               target="_blank">退出</a></dd>
                    </dl>
                    <div class="middle-border-box">
                        <i class="middle-border"></i>
                    </div>
                    <a href="/?r=userCenter/authList" target="_blank">我的推广</a>
                    <!-- <dl>
                        <dt><a href="javascript:;" target="_blank">我的推广</a></dt>
                        <dd><a href="/?r=userCenter/authList" target="_blank">PID设置</a></dd>
                    </dl> -->
                    <div class="middle-border-box">
                        <i class="middle-border"></i>
                    </div>
                    <a href="/top/2h" target="_blank">发现好货</a>
                    <div class="middle-border-box">
                        <i class="middle-border"></i>
                    </div>
                    <dl class="tuiguang_dl">
                        <dt class="right_dt"><a href="/?r=index/chajian" target="_blank">推广神器</a></dt>
                        <dd><a href="/?r=index/chajian" target="_blank">轻淘客插件</a></dd>
                        <dd><a href="/?r=solution/platformIntroduce" target="_blank">CMS</a></dd>
                        <dd><a href="/openapi" target="_blank">开放API</a></dd>
                    </dl>
                    <!--
                <span>|</span>
                <a href="" target="_blank">关于我们</a>
                <span>|</span>
                <a href="" target="_blank">招商合作</a>
                -->
                </nav>
            </div>
        </div>
    </header>
    <script>
        $(".ibar > .iwrap > nav > dl").hover(function () {
            $(this).addClass("active")
        }, function () {
            $(this).removeClass("active")
        })
    </script>
    <div class="new_home_header">
        <div class="home_header_top">
            <div class="home_header_top_content">
                <!--<a class="home_header_log" href="/"></a>-->
                <div class="home_header_top_middle" style="padding: auto">
                    <div>
                        <div class="qtk-h-search flex flex-ac">
                            <!--<form method="post" id="qtk_search_form">-->
                                <!--<input type="hidden" name="sort" value="1">-->
                                <input id="qtk_search" class="search-key-word" onclick="baiDuStatistics('n-s-输入框', '点击');" name="key_word"
                                       value=""
                                       placeholder="ID／标题／链接" autocomplete="off"/>
                            <!--</form>-->
                            <!-- <div class="clear-icon">elasticsearch-plugin install https://github.com/medcl/elasticsearch-analysis-ik/releases/download/v6.8.2/elasticsearch-analysis-ik-6.8.2.zip</div> -->
                            <div class="search-icon" onclick="searchByKW($('.search-key-word').val())">
                                搜&nbsp;&nbsp;索
                            </div>

                            <div class="search_result">
                                <div class="search-container">

                                </div>
                            </div>
                        </div>
                        <div class="hot_tex_box">
                            <a class="search_item_name">热门搜索 : </a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('中秋')"
                               class="search-item">中秋</a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('月饼')"
                               class="search-item">月饼</a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('书包')"
                               class="search-item">书包</a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('玩具')"
                               class="search-item">玩具</a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('抽纸')"
                               class="search-item">抽纸</a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('面膜')"
                               class="search-item">面膜</a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('口红')"
                               class="search-item">口红</a>
                            <a onclick="baiDuStatistics('n-s-热搜词', '点击');"
                               href="javascript:searchByKW('耳机')"
                               class="search-item">耳机</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="home_header_top_chajian">
                <div class="home_chajian_icon"></div>
                <div class="home_chajian_text_box">
                    <div class="home_chajian_text1">轻淘客推广插件</div>
                    <div class="home_chajian_text2">用过的都说好</div>

                </div>
            </div> -->
                <a class="home_chajian_icon" href="/chajian" target="_blank"></a>
            </div>
        </div>
        <div class="home_header_bottom">
            <div class="home_header_bottom_content">
                <div class="home_header_bottom_nav">
                    <a href="/"
                       class=""
                    >首页</a>
                    <a href="/goods/new"
                       class="">
                        最新发布</a>
                    <a href="/c/jujia" class="">
                        <span class="new_png"></span>
                        <!-- <span class="hot_png"></span> -->
                        居家日用</a>
                    <a href="/c/meishi" class="">
                        <span class="green_new_png"></span>
                        精选美食</a>
                    <a href="/top/2h" class="">实时榜单</a>
                    <a href="./es_good/search"
                       class="active">所有商品</a>
                </div>
                <div class="home_header_bottom_find">
                <span class="find_more_text">
                 <a href="/goods-commend/sales">更多发现</a>
                </span>
                    <div class="find_ul_box">
                        <ul>
                            <li class="">
                                <a href="/goods-commend/sales">销量好</a>
                            </li>
                            <li class="">
                                <a href="/goods-commend/comment">评价好</a>
                            </li>
                            <li class="">
                                <a href="/goods-commend/price">价格好</a>
                            </li>
                            <li class="">
                                <a href="/goods-commend/activity">活动款</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('.home_header_bottom_find').hover(function () {
                $('.home_header_bottom_find').find('.find_ul_box').addClass('show');
            }, function () {
                $('.home_header_bottom_find').find('.find_ul_box').removeClass('show');
            })
        })
    </script>    <div class="container">
    <div class="goods-all">
        <div class="selected-option-container">
        </div>
        <div class="goods-option-container">
            <div class="cat-container" id="cat-list">
                <!--<a data-stat='{"action":"点击-全部", "category": "切换品类"}'
                   class="cur"
                   data-cat="0">全部<i>(48927)</i></a>
                <a data-stat='{"action":"点击-女装", "category": "切换品类"}'
                   class=""
                   data-cat="10">女装<i>(3676)</i></a>
                <a data-stat='{"action":"点击-内衣", "category": "切换品类"}'
                   class=""
                   data-cat="11">内衣<i>(2415)</i></a>
                <a data-stat='{"action":"点击-男装", "category": "切换品类"}'
                   class=""
                   data-cat="12">男装<i>(3403)</i></a>
                <a data-stat='{"action":"点击-母婴", "category": "切换品类"}'
                   class=""
                   data-cat="2">母婴<i>(6027)</i></a>
                <a data-stat='{"action":"点击-美妆", "category": "切换品类"}'
                   class=""
                   data-cat="3">美妆<i>(3246)</i></a>
                <a data-stat='{"action":"点击-居家", "category": "切换品类"}'
                   class=""
                   data-cat="4">居家<i>(11498)</i></a>
                <a data-stat='{"action":"点击-鞋包配饰", "category": "切换品类"}'
                   class=""
                   data-cat="5">鞋包配饰<i>(6514)</i></a>
                <a data-stat='{"action":"点击-美食", "category": "切换品类"}'
                   class=""
                   data-cat="6">美食<i>(5223)</i></a>
                <a data-stat='{"action":"点击-文体", "category": "切换品类"}'
                   class=""
                   data-cat="7">文体<i>(3912)</i></a>
                <a data-stat='{"action":"点击-家电数码", "category": "切换品类"}'
                   class=""
                   data-cat="8">家电数码<i>(2683)</i></a>-->
            </div>
            <div class="sort-more-container">
                <div class="sort-container">
                    <a data-stat='{"action":"点击-人气", "category": "排序"}' data-sort="sr"
                       class="sort ">人气</a>
                    <a data-stat='{"action":"点击-最新", "category": "排序"}' data-sort="sn"
                       class="sort ">最新<span
                            class="down"></span></a>
                    <a data-stat='{"action":"点击-销量", "category": "排序"}' data-sort="ss"
                       class="sort ">销量<span
                            class="down"></span></a>
                    <a data-stat='{"action":"点击-价格", "category": "排序", "sort": "up"}' data-sort="sp"
                       class="sort ">价格<span
                            class="up"></span></a>
                    <a data-stat='{"action":"点击-佣金", "category": "排序"}' data-sort="syj"
                       class="sort cur">佣金<span
                            class="down"></span></a>
                    <a data-stat='{"action":"点击-券金额", "category": "排序"}' data-sort="scp"
                       class="sort ">券金额<span
                            class="down"></span></a>
                </div>
                <div class="more-container">
                    <div class="option-item-container">
                        <a data-stat='{"action":"勾选-好单推荐", "category": "筛选"}'
                           data-tj="0" class="option "><em></em>好单推荐</a>
                        <a data-stat='{"action":"勾选-聚划算", "category": "筛选"}'
                           data-ju="0" class="option "><em></em>聚划算</a>
                        <a data-stat='{"action":"勾选-淘抢购", "category": "筛选"}'
                           data-tao="0" class="option "><em></em>淘抢购</a>
                        <a data-stat='{"action":"勾选-天猫超市", "category": "筛选"}'
                           data-mc="0" class="option "><em></em>天猫超市</a>
                    </div>
                    <div class="advance-container" data-stat='{"action":"点击-高级筛选", "category": "高级筛选"}'>
                        高级筛选<em data-stat='{"action":"点击-高级筛选", "category": "高级筛选"}'></em>
                    </div>
                </div>
            </div>
            <div class="advance-panel-container">
                <div class="padding">
                    <div class="shop-container">
                        <div class="label">店铺</div>
                        <div class="shop-items">
                            <a data-ot class=""><em></em>只看天猫</a>
                            <a data-jp class=""><em></em>金牌卖家</a>
                            <a data-qjd class=""><em></em>旗舰店</a>
                            <a data-jyj class=""><em></em>极有家</a>
                            <a data-ht class=""><em></em>海淘</a>
                            <a data-yfx class=""><em></em>运费险</a>
                        </div>
                    </div>
                    <div class="goods-container">
                        <div class="label">商品</div>
                        <div class="goods-items">
                            <div class="commission-container">
                                佣金比例≥
                                <div class="commission ul">
                                    <input type="text" data-min="1" autocomplete="off" data-max="99" maxlength="2"
                                           value="" name="commission"/>%
                                    <ul>
                                        <li>30</li>
                                        <li>40</li>
                                        <li>50</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dsr-container">
                                评分≥
                                <div class="dsr ul">
                                    <input type="text" autocomplete="off" data-min="1" data-max="5" maxlength="3"
                                           value="" name="dsr"/>
                                    <ul>
                                        <li>4.9</li>
                                        <li>4.8</li>
                                        <li>4.7</li>
                                        <li>4.6</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sales-container">
                                销量≥
                                <div class="sales ul">
                                    <input type="text" autocomplete="off" data-min="1" data-max="900000" maxlength="6"
                                           value="" name="sales"/>
                                    <ul>
                                        <li>500</li>
                                        <li>1,000</li>
                                        <li>5,000</li>
                                        <li>10,000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-container">
                                到手价：
                                <input type="text" maxlength="8" autocomplete="off" name="min_price"
                                       value="" placeholder="￥"/>
                                <b></b>
                                <input type="text" maxlength="8" autocomplete="off" name="max_price"
                                       value="" placeholder="￥"/>
                            </div>
                        </div>
                    </div>
                    <div class="coupon-container">
                        <div class="label">券</div>
                        <div class="coupon-items">
                            <div class="coupon-price-container">
                                券金额：
                                <input type="text" maxlength="8" value="" autocomplete="off"
                                       name="min_coupon" placeholder="￥"/>
                                <b></b>
                                <input type="text" maxlength="8" value="" autocomplete="off"
                                       name="max_coupon" placeholder="￥"/>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="submit">确定</button>
                        <button class="cancel">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="my-goods-list" class="goods-list qtk-goods-list" style="margin-top: 30px;">

        </div>
        <div class="pages-container">
            <div class="page-box2">
                <ul class="pagination"><li class="first disabled"><span>首页</span></li>
                    <li class="prev disabled"><span>上一页</span></li>
                    <li class="page-curr"><a href="./es_good/search?st=syj&amp;page=1" data-page="0">1</a></li>
                    <li><a href="javascript:searchbyKWWithP(2)" data-page="1">2</a></li>
                    <li><a href="./es_good/search?st=syj&amp;page=3" data-page="2">3</a></li>
                    <li><a href="./es_good/search?st=syj&amp;page=4" data-page="3">4</a></li>
                    <li><a href="./es_good/search?st=syj&amp;page=5" data-page="4">5</a></li>
                    <li><a href="./es_good/search?st=syj&amp;page=6" data-page="5">6</a></li>
                    <li><a href="./es_good/search?st=syj&amp;page=7" data-page="6">7</a></li>
                    <li><a href="./es_good/search?st=syj&amp;page=8" data-page="7">8</a></li>
                    <li><a href="./es_good/search?st=syj&amp;page=9" data-page="8">9</a></li>
                    <li class="next"><a href="./es_good/search?st=syj&amp;page=2" data-page="1">下一页</a></li>
                    <li class="last"><a href="./es_good/search?st=syj&amp;page=490" data-page="489">尾页</a></li></ul>            </div>
        </div>

    </div>
   <!-- <script type="text/javascript">
        alert("hello");
        $.ajax({
            url: "./es_good/search",
            type: 'post',
            success: function (data) {
                alert(data.get("content"));
            }, 1500);
            }
        });
    </script>-->
    <script>
        var oldUrl = 'http://www.qingtaoke.com/';
        var login_url = oldUrl + 'login?ref=' + encodeURIComponent(location.href);
        $("#fkbtn").click(function () {
            if ($("#fk").serialize() == 'content=') {
                layer.msg("请先填写反馈内容", {
                    time: 1500
                });
                return false
            }
            $.ajax({
                url: "http://www.qingtaoke.com/fk/index",
                data: $("#fk").serialize(),
                type: 'post',
                success: function (data) {
                    if (data.msg == '请先登录。') {
                        // todo 如果未登录，则弹出登录提示框，并且登陆后跳转到www.qingtaoke.com./es_good/search?f=1&key_word=123123
                        layer.open({
                            type: 1,
                            title: '提示',
                            content: '<div class="alertbox flex flex-ac flex-dc flex-jc"><p>请先登录</p><a class="alert-btn" href=' + login_url + '>立即登录</a></div>'
                        });
                        return false;
                    }
                    layer.msg("感谢您的反馈", {
                        time: 1500
                    });
                    setTimeout(() => {
                        window.location.href = './es_good/search';
                }, 1500);
                }
            });
        });
    </script>
</div>

    <div class="qing-clear-fix"></div>
    <div class="i-bottom-l">
        <div>
            <nav>
                <a href="/top/2h" target="_blank">发现好货</a>
                <a href="/goods/new" target="_blank">最新商品</a>
                <a href="/top/2h" target="_blank">2小时销量榜</a>
                <a href="/top/hot" target="_blank">实时爆款</a>
            </nav>
            <nav>
                <a href="http://www.qingtaoke.com/?r=index/chajian" target="_blank">推广神器</a>
                <a href="http://www.qingtaoke.com/?r=index/chajian" target="_blank">插件</a>
                <a href="http://www.qingtaoke.com/?r=solution/platformIntroduce" target="_blank">CMS</a>
                <a href="http://www.qingtaoke.com/openapi" target="_blank">API</a>
            </nav>
            <nav>
                <a href="http://www.qingtaoke.com" target="_blank">网站首页</a>
                <a href="http://www.qingtaoke.com/fk/index?type=site" target="_blank">意见反馈</a>
            </nav>
        </div>
        <p>&copy; 2015-2019 轻淘客 Qingtaoke.com - 蜀ICP备15017427号-1</p>
    </div></div>


<style>

</style>
<!--回到顶部-->
<div class="common-wid goTopFour">
    <div class="goTopThree_new">
        <ul>
            <!-- <li class="feedback common-xCtJ-count" data-params="ea=轻淘客-微信公众号">
                <img class="pc-wx-qr-code" src="http://www.qingtaoke.com/versions/version2016_11/images/pc-wx-qr-code-icon.png?t=20190823010" alt="">
                <div class="wx-qr-code-area">
                    <div class="inner">
                        <img src="http://www.qingtaoke.com/versions/version2016_11/images/pc-wx-qr-code.png?t=20190823010" alt="">
                        <div>扫码关注公众号<br>淘客干货分享等你来</div>
                    </div>
                </div>
            </li> -->
            <li class="feedback common-xCtJ-count" data-params="ea=轻淘客-意见反馈">
                <a onclick="baiDuStatistics('fz-fk-意见反馈', '点击');"
                   href="http://www.qingtaoke.com/fk/index?type=goods"
                   target="_blank">
                    <i class="gj-table gj-icon-table">
                        <i class="gj-table-cell">
                            <i class="gj-common-icons feedback-icon"></i>
                        </i>
                    </i>
                    <i class="gj-table gj-text-table">
                        <i class="gj-table-cell">
                            意见<br>反馈
                        </i>
                    </i>
                </a>
            </li>
            <li id="qtk-contact-service_bak" class="feedback common-xCtJ-count" data-params="ea=轻淘客-联系客服">
                <a onclick="baiDuStatistics('fz-kf-联系客服	', '点击');"
                   href="https://cschat-ccs.aliyun.com/index.htm?tntInstId=_1MNJ3wO&scene=SCE00004794"
                   target="_blank">
                    <i class="gj-table gj-icon-table">
                        <i class="gj-table-cell">
                            <i class="gj-common-icons customer-service-icon"></i>
                        </i>
                    </i>
                    <i class="gj-table gj-text-table">
                        <i class="gj-table-cell">
                            联系<br>客服
                        </i>
                    </i>
                </a>
            </li>
            <!-- <li class="feedback common-xCtJ-count" data-params="ea=轻淘客-帮助中心">
                <a onclick="baiDuStatistics('fz-bz-帮助中心', '点击');" href="http://www.qingtaoke.com/help" target="_blank">帮助<br>中心</a>
            </li> -->
            <li id="goTopBtnUM" class="none-border go-top-btn common-xCtJ-count" data-params="ea=轻淘客-回到顶部">
                <a href="javascript:;">
                    <i class="gj-table">
                        <i class="gj-table-cell">
                            <i class="gj-common-icons go-top-icon"></i>
                        </i>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    document.write('<script src="\/\/assets-cdn.kf5.com\/supportbox\/main.js?' + (new Date).getDay() + '" id="kf5-provide-supportBox" kf5-domain="qingtaoke.kf5.com" charset="utf-8"><\/script>');
</script>

<script>
    $(function () {
        $("#qtk-contact-service").on("click", function () {
            $("#kf5-support-btn").click();
        });
        goTopRe();
        $(window).resize(function () {
            goTopRe();
        });
        $("#goTopBtnUM").click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 200);
        })
    });

    function goTopRe() {
        var goTop = $(".goTopThree_new");
        if ($(window).width() <= 1516) {
            goTop.fadeIn();
            goTop.css("left", "auto").css("right", 0);
        } else {
            var win_with = $(window).width() / 2;
            goTop.css("left", (win_with + 600 + 110) + "px");
            goTop.fadeIn();
        }
    }
</script>



<div id="home-notice-area-new">
    <div class="mask-area">
        <div class="box"><img src="" alt=""></div>
    </div>
    <div class="main">
        <div class="no-msg-data hide">
            <span class="icon"></span>
            <p>暂时没有消息</p>
        </div>

        <div class="clearfix">
            <ul class="notice-banner">
            </ul>
            <div class="notice-list">
            </div>
            <div class="more-msg">暂无更多历史消息</div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var fillCats=function (data) {
        //alert(data.length);
        cat_content="";
        for(var i=0;i<data.length;i++) {
            cat_content+="<a href='javascript:getGoodsByCat("+data[i].id+")'\n" +
                "                   class=\"\"\n" +
                "                   data-cat=\""+data[i].id+"\">"+data[i].name+"<i>("+data[i].number+")</i></a>";
            /*cat_content+="<a data-stat='{\"action\":\"点击-"+data[i].name+"\", \"category\": \"切换品类\"}'\n" +
                "                   class=\"\"\n" +
                "                   data-cat=\""+data[i].id+"\">"+data[i].name+"<i>("+data[i].number+")</i></a>";*/
        }

        $("#cat-list").html(cat_content);
        console.log(data);

    }

    //把后端返回的json格式填充到页面
    var fillGoods=function(data) {
        //alert("爱来了")
        content="";
        for(var i=0;i<data.content.length;i++) {
            content+="<div class=\"goods-container-fixed \">\n" +
                "                <div class=\"goods-container\" data-gid=\"576232309752\"\n" +
                "                     data-cat='{\"cid\":6,\"cname\":\"美食\"}'>\n" +
                "\n" +
                "                    <a class=\"links-mask-text\" title='"+data.content[i].goods_short_title+"' target=\"_blank\"\n" +
                "                       href=\"/goods/index?goodsid="+data.content[i].goods_id+"\" data-stat='{\"id\":\"g-l-detail\"}'>\n" +
                "                        查看详细\n" +
                "                    </a>\n" +
                "                    <div class=\"links \">\n" +
                "                        <div class=\"mask\"></div>\n" +
                "                        <div class=\"button-container\">\n" +
                "                            <a class=\"button\" title=\""+data.content[i].goods_title+"\" target=\"_blank\" rel=\"nofollow\"\n" +
                "                               data-stat='{\"id\":\"g-l-goto\"}'\n" +
                "                               href=\"https://detail.tmall.com/item.htm?id=576232309752\">去天猫</a>\n" +
                "                            <a class=\"button right wenan\" data-stat='{\"id\":\"g-l-text\"}'>文案</a>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                    <div class=\"img-container\">\n" +
                "                        <a title=\""+data.content[i].goods_title+"\" target=\"_blank\"\n" +
                "                           href=\"/goods/index?goodsid=576232309752\">\n" +
                "                            <img src=\"http://static.qingtaoke.com/css/images/lazy-load.png?v=20190823010\"\n" +
                "                                 data-img=\""+data.content[i].goods_pic+"\" class=\"lazy\"\n" +
                "                                 alt=\""+data.content[i].goods_title+"\">\n" +
                "                        </a>\n" +
                "                    </div>\n" +
                "                    <div class=\"info-container\">\n" +
                "                        <div class=\"yong-jing-container\">\n" +
                "                            <div class=\"value\">\n" +
                "                                <div class=\"text\">赚取</div>\n" +
                "                                <div class=\"money\">\n" +
                "                                    &yen;10.43</div>\n" +
                "                            </div>\n" +
                "                            <div class=\"percent\">\n" +
                "                                佣金比例&nbsp;70%\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                        <div class=\"title-container\">\n" +
                "                            <a title=\"滇王驿古法液体红糖盒装300g\" target=\"_blank\" data-stat='{\"id\":\"g-l-title\"}'\n" +
                "                               href=\"/goods/index?goodsid=576232309752\">"+data.content[i].goods_title+"</a>\n" +
                "                        </div>\n" +
                "                        <div class=\"price-container\">\n" +
                "                            <div class=\"price\">\n" +
                "                                <div class=\"text\">到手价</div>\n" +
                "                                <div class=\"money\">&yen;&nbsp;14.9</div>\n" +
                "                            </div>\n" +
                "                            <div class=\"sale\">月销&nbsp;199</div>\n" +
                "                        </div>\n" +
                "                        <div class=\"icon-container\">\n" +
                "                            <div class=\"tag-container\">\n" +
                "                                <span class=\"tag\">券&nbsp;&yen;&nbsp;5</span>\n" +
                "                            </div>\n" +
                "                            <div class=\"source\">\n" +
                "                                <span class=\"tag\">天猫</span>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "\n" +
                "\n" +
                "                    </div>\n" +
                "                    <div class=\"extension-container\">\n" +
                "                        <div class=\"line\">\n" +
                "                            <i class=\"quan\"></i>\n" +
                "                            <div class=\"text\">券剩余&nbsp;4683&nbsp;张</div>\n" +
                "                        </div>\n" +
                "                        <div class=\"line\">\n" +
                "                            <i class=\"shop\"></i>\n" +
                "                            <div class=\"text\">滇王驿食品旗舰店</div>\n" +
                "                        </div>\n" +
                "                        <div class=\"line\">\n" +
                "                            <i class=\"time\"></i>\n" +
                "                            <div class=\"text\">9月4日&nbsp;上架</div>\n" +
                "                        </div>\n" +
                "                        <div class=\"line\">\n" +
                "                            <i class=\"jubao\"></i>\n" +
                "                            <div class=\"text\"><a\n" +
                "                                    href=\"http://www.qingtaoke.com/jc/default?goodsid=576232309752&name=%E6%BB%87%E7%8E%8B%E9%A9%BF%E5%8F%A4%E6%B3%95%E6%B6%B2%E4%BD%93%E7%BA%A2%E7%B3%96%E7%9B%92%E8%A3%85300g&url=https%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D576232309752&leixing=data_center.goods_quan&type=goods\" class=\"text\" target=\"_blank\">内容举报</a></div>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "                <div class=\"media-list-text-box\">\n" +
                "                    <p class=\"wa\">\n" +
                "                        <img class=\"media-small-pic\"\n" +
                "                             data-src=\"http://imgproxy.qingtaoke.com/imgextra/i4/2361040885/*o1*c*n01*mna*w*r*t1*i*p*n11w*e*o*v1_!!2361040885.jpg\">\n" +
                "                        <br/>\n" +
                "                        滇王驿古法液体红糖盒装300g            <br/>\n" +
                "                        到手价【14.9元】包邮秒杀\n" +
                "                        <br/>\n" +
                "                        优惠券：https://uland.taobao.com/quan/detail?sellerId=2361040885&activityId=025080a4a1264a37a5c020de6a7db8a6                <br/>\n" +
                "                        商品地址：https://detail.tmall.com/item.htm?id=576232309752            <br/>\n" +
                "                        "+data.content[i].goods_introduce+"        </p>\n" +
                "                </div>\n" +
                "            </div>"

            /*content+="<li> <label><input name='artCtgId' type='radio' value='"+data[i].ctgId+"'>"
                +data[i].ctgName+" <em class='hidden-md'>( 栏目ID: <span>"+data[i].ctgId+"</span> )</em></label></li>";*/
        }
        $("#my-goods-list").html(content);
        console.log(data);
    };

    $.get(
        "./es_good/cat/list",
        function (data) {
            //alert(data)
            fillCats(data);
        },
        "json"
    );

    //关键词查询方法
    var searchByKW=function(key_word) {
        //alert(key_word);
        $.post(
          "./es_good/search?key_word="+key_word,
          function (data) {
              fillGoods(data);
              $('.search-key-word').value(key_word);
          },
          "json"
        );
    }

    var searchbyKWWithP=function(page) {

        //alert(page);
        var key_word=$(".search-key-word").val();
        alert(key_word);
        $.post(
          "./es_good/search?key_word="+key_word+"&page="+page,
          function (data) {
              //alert(data)
              fillGoods(data);
          },
            "json"
        );
    }

    //根据类别查询商品信息信息
    var getGoodsByCat=function(goods_cat) {
        $.get(
            "./es_good/listByCat?goods_cat="+goods_cat,
            function (data) {
                //alert(data)
                fillGoods(data);
            },
            "json"
        );
    }

    //搜索框 点击按钮
   /* $('#qtk_search_form').click(function(e) {
        //alert("11122");
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "./es_good/search" ,//url
            data: $('#qtk_search_form').serialize(),
            success: function (data) {
                //alert(data);
                fillGoods(data);

            },
            error : function() {
                alert("网络出异常！");
            }
        });
        //document.location.href = "main.html";
    });*/


   //默认 加载商品 信息
    //alert("初始化！！");
    $.post(
        "./es_good/search",
        function(data) {
            fillGoods(data);

        },
        "json"
    );



</script>

<script>
    var NBTopNum = 0;
    $(function () {
        var home_notice = $("#home-notice-area-new");
        var has_next = true;
        var page = 1;
        $("#v3-notice-new").on("click", function () {
            var tmp_fun;
            $("#home-notice-area-new").animate({right: "-10px"}, 150);
            $("body").css("overflow", "hidden");

            $("#v3-common-header, #v3-header, #v3-header .head-nav, #v3-fixed-top, .v3-head-nav, #commission-fixed-nav").addClass("hid");
            $("#qtk-content-area").addClass("hid");
            tmp_fun = function () {
            };
            newHeaderNotice.updateDo(tmp_fun);

        });
        home_notice.mouseleave(function () {
            home_notice.animate({right: "-430px"}, 150);
            $("body").css("overflow", "auto");

            $("#v3-common-header, #v3-header, #v3-header .head-nav, #v3-fixed-top, .v3-head-nav, #commission-fixed-nav").removeClass("hid");
            $("#qtk-content-area").removeClass("hid");
        });

        var maskNBDom = $("#home-notice-area-new .mask-area");
        $("body").on("mouseover", "#home-notice-area-new .notice-banner li", function () {
            var noTopNum = $("#home-notice-area-new").scrollTop();
            var imgUrl = $(this).find("img").attr("src");
            NBTopNum = $(this)[0].offsetTop;
            maskNBDom.css("top", (NBTopNum - noTopNum) + 10 + "px");
            maskNBDom.find("img").attr("src", imgUrl);
            maskNBDom.show();
        });

        $("body").on("mouseout", "#home-notice-area-new .notice-banner li", function () {
            maskNBDom.hide();
        });

        home_notice.scroll(function () {
            var scrollTop = $(this).scrollTop();
            maskNBDom.css("top", NBTopNum - scrollTop + "px");
            var h = $(this).height();
            var sh = $(this)[0].scrollHeight;
            var st = $(this)[0].scrollTop;
            if (h + st >= sh) {
                // userMsg(home_notice);
            }
        });


        var userMsg = function (home_notice) {
            if (has_next) {
                $.ajax({
                    url: "http://www.qingtaoke.com/?r=userMsg/ajaxMsg",
                    dataType: 'json',
                    data: {page: page},
                    timeout: 5000,
                    success: function (json) {
                        var i, tmp, url;
                        if (json.status == 0 && home_notice.length > 0) {
                            page++;
                            if (json.data.no) {
                                has_next = false;
                                home_notice.find(".more-msg").show();
                            } else {
                                home_notice.find(".more-msg").hide();
                            }
                            if ((json.data.ad).length > 0) {
                                //广告位
//                                home_notice.find(".clearfix .notice-banner").html("");
                                for (i = 0; i < (json.data.ad).length; i++) {
                                    tmp = json.data.ad[i];
                                    url = tmp.url ? tmp.url : 'javascript:;';
                                    home_notice.find(".clearfix .notice-banner").append('<li> <a href="' + url + '" target="_blank" rel="nofollow"> <img src="' + tmp.img + '" alt="' + tmp.description + '"></a></li>');
                                }
                            }
                            if ((json.data.list).length > 0) {
//                                home_notice.find(".clearfix .notice-list").html("");
                                //系统公告
                                var prefix = 'http://www.qingtaoke.com';
                                newHeaderNotice.viewItem(home_notice, json.data.list, prefix);
                            }
                            if (json.data.first) {
                                if (json.data.no) {
                                    home_notice.find(".no-msg-data").removeClass("hide");
                                    home_notice.find(".clearfix").addClass("hide");
                                } else {
                                    home_notice.find(".no-msg-data").addClass("hide");
                                    home_notice.find(".clearfix").removeClass("hide");
                                }
                                $("#home-notice-area-new").removeClass("hide");
                            }
                        }
                    }
                })
            }
        };
        // userMsg(home_notice);
    });
</script>
<script>

    // 兼容老版统计 留空该函数
    function xctj() {

    }

    /*兼容老版结束*/

    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f0dc352305eb52438707d04b91085087";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    var _mtac = {"performanceMonitor": 1, "senseQuery": 1};
    $(function () {
        $(".qing-footer-box .qtk-contact-service").on("click", function () {
            baiDuStatistics('ft-wtbz-联系客服', '点击');
            $("#kf5-support-btn").click();
        });
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-141509622-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-141509622-1');
</script>
<script src="http://static.qingtaoke.com/js/statistics.js?t=20190823010"></script>
<script src="http://static.qingtaoke.com/js/goods.js?t=20190823010"></script>
<script src="http://static.qingtaoke.com/js/goods-all.js?t=20190823010"></script>
<script src="http://static.qingtaoke.com/js/common.js?t=20190823010"></script>
<script src="http://static.qingtaoke.com/js/web-storage-cache.js?t=20190823010"></script></body>
</html>
